body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

img {
  padding: 10%;
  width: 80%;
}

.image_container {
  width: 75%;
  padding-left: 12.5%;
  padding-right: 12.5%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.image {
  width: 25%;
  transition: .25s;
  cursor: pointer;
}

.image p {
  font-size: 20px;
}

.image:hover {
  opacity: 90%;
}

/*
=====
MENU STYLES
=====
*/

.menu:hover .menu__link:hover {
  background-color: #6252dd;
  transition: .25s;
}

/* core styles */

.menu__list{
  display: flex;
  text-align: center;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.menu__group{
  flex-grow: 1;
}

.menu__link{
  display: block;
}

/* skin */

.menu{
  background-color: #6c5ce7;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .12), 0 1px 2px 0 rgba(0, 0, 0, .24);
  position: sticky;
  top: 0;
}

.menu__link{
  padding: 2rem 1.5rem;

  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

/* states */
.menu__link:focus{
  outline: 2px solid #fff;
}

/* hover animation */

.menu__link{
  position: relative;
  overflow: hidden;

  will-change: color;
  transition: color .25s ease-out;
}

.menu__link::before,
.menu__link::after{
  content: "";
  width: 0;
  height: 3px;
  background-color: #fff;

  will-change: width;
  transition: width .1s ease-out;

  position: absolute;
  bottom: 0;
}

.menu__link::before{
  left: 50%;
  transform: translateX(-50%);
}

.menu__link::after{
  right: 50%;
  transform: translateX(50%);
}

.menu__link:hover::before,
.menu__link:hover::after{
  width: 100%;
  transition-duration: .2s;
}
